/* Write your CSS here */
.app-container {
  background-image: linear-gradient(to right, #f9d423, #e2a139);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  background-color: #ffffff;
  width: 40%;
  max-width: 420px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #a35200;
  font-family: 'Roboto';
  font-size: 42px;
}

.head-tail {
  color: #334155;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
}

.coin-img {
  width: 200px;
  height: 200px;
}

.button {
  background-color: #e2a139;
  color: #a35200;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
  margin-top: 30px;
}

.score-container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
}

.result {
  color: #475569;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
}

.total {
  padding-right: 12px;
}

.heads {
  padding-left: 12px;
  padding-right: 12px;
}

.tails {
  padding-left: 12px;
}
